GROQ_API_KEY=gsk_placeholder
HINDSIGHT_BASE_URL=http://localhost:8888
HINDSIGHT_API_KEY=
HINDSIGHT_LLM_DAILY_REQUESTS=15
HINDSIGHT_API_ENABLE_AUTO_CONSOLIDATION=false
MAX_LLM_CALLS=120
MAX_LLM_TOKENS=150000
MAX_RETAINS=12
MAX_RECALLS=120
MAX_REFLECTS=1
GROQ_TPM=5000
